body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 75px;
  background-color: #fff;
  padding: 50px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333131;
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  padding-right: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #2f90ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 75px;
  width: 150px;
  position: relative;
  overflow: hidden;
}

input[type="submit"]:hover {
  background-color: #4f61ff;
}

/* Cloud Icon */
input[type="submit"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(https://example.com/cloud-icon.png);
  background-size: cover;
}

/* Animation */
input[type="submit"]:hover:before {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
      transform: translateY(-50%) rotate(360deg);
    
  }
@media only screen and (max-width: 600px) {
}

}

